<%- include('partials/header.ejs',{ loggedInCustomer,logStatus: logStatus }) %>
    <div class="alert alert-info" role="alert">
        Please remember your Customer ID!
    </div>
    <div class="container mt-5 d-flex justify-content-center row">
        <div class="card text-center col-6">
            <div class="card-body ">
                <h2 class="card-title">Customer Details</h2>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fas fa-id-badge fa-3x text-primary"></i>
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title">Customer ID</h5>
                        <p class="card-text">
                            <%= customerDetails.customerId %>
                        </p>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fas fa-user fa-3x text-success"></i>
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">
                            <%= customerDetails.name %>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fas fa-envelope fa-3x text-danger"></i>
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">
                            <%= customerDetails.email %>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <i class="fas fa-phone fa-3x text-warning"></i>
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-title">Contact Info</h5>
                        <p class="card-text">
                            <%= customerDetails.contactinfo %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center  mt-5">
        <p class="fw-5 text-body-emphasis fs-2">Proceed to Login</p>
        <a href="/login" type="button" class="btn btn-primary">&nbsp;&nbsp;Login&nbsp;&nbsp;<i
                class="fas fa-arrow-right"></i></a>
    </div>


    <%- include("partials/footer.ejs") %>